body {
  background-image: url("../media/white.jpg");
}

h1, h2, h3, h4 {
  font-family: 'acmeregular', Cochin, serif;
}

h1 {
  font-size:2em;
}

strong {
  font-weight: 700;
  font-size: 1.2em;
}

em.italic {
  font-style: italic;
}

p, li, a {
  font-family: monospace;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #2a9df4;
  text-decoration: underline;
}

ul {
  list-style-type: square;
}

#main-nav {
  background-color: #9E9E9E;
}

#navbar-container {
  width: 100%;
  position: relative;
  text-align: center;
}

#main-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

nav#main-nav ul li {
  float: left;
  margin: 0 1em;
}

nav#main-nav ul li a {
  display: block;
  color: #F5F5F5;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 5em;
  padding: 0.4375em 0.125em;
  font-size:1.15em;
}

nav#main-nav ul li a:hover {
  text-decoration: underline;
}

#main-nav #onpage a {
  background-color: #F5F5F5;
  color: #9E9E9E;
}

header#page-info {
  background-image: url("../media/rock.jpg");
  text-align: center;
  color: #F5F5F5;
  padding: 0.3125em 0.0625em;
  font-size:1.5625em;
}

#page-wrapper {
  width: 85%;
  margin: 0 auto;
  box-shadow: 0em 0.25em 0.5em 0em rgba(0, 0, 0, 1);
  overflow: auto;
}

#selfie ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#selfie li:last-of-type {
  margin-right: 0;
}

#selfie a {
  display: block;
}

#selfie img {
  float: right;
  width: 288px;
  height: 215px;
  padding: 5px;
  background-color: white;
  margin: 10px 50px 0px 30px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  -webkit-transition: -webkit-transition .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

a:hover img {
  -webkit-box-shadow: 6px 6px 6px rgba(0,0,0,.3);
  box-shadow: 6px 6px 6px rgba(0,0,0,.3);
}

a:hover #img1,a:focus #img1 {
  -webkit-transform: scale(1.2) rotate(3deg);
  transform: scale(1.2) rotate(3deg);
}

#main-page {
  padding-left: 1em;
}

.leftcolumn {   
  float: right;
  width: 75%;
  padding: 1.2em 1.2em 5em 1.2em;
}

.rightcolumn {
  float: left;
  width: 20%;
  padding: 1.2em 0em 2em 1.2em;
}

.card {
  background-color: #F5F5F5;
  padding: 1.1em;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

#fixed-header {
  width: 1487px;
  margin: 0px 0px;
}

#fixed-wrapper {
  width: 1263px;
  margin: 0px 112px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 1);
  height: 850px;
}

#fixed-footer {
  width: 1487px;
  margin: 0px 0px;
  padding-top: 0px;
}

.column {
  float: left;
  width: 400px;
  padding: 0px 0px 0px 21px;
  text-align: left;
}

.image2 {
  float: left;
  padding: 5px;
  background-color: white;
  margin: 10px 20px 10px 20px;
}

.image3 {
  float: left;
  padding: 5px;
  background-color: white;
  margin: 10px 20px 10px 4px;
}

@media screen and (max-width: 1370px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0em;
  }
}

@media screen and (min-width: 600px) {
  
}

@media screen and (min-width: 900px) {
  main#main-page {
  background-color: #9E9E9E;
  padding: 1em;
  color: #fff;
  }
  body {
    font-size: 1.5em;
  }
  nav#main-nav ul li a{
    padding: 0em;
    font-size: 1.5em;
  }
  .leftcolumn, .rightcolumn {
    font-size: .8em;
  }
}

iframe {
  padding: 5px;
  background-color: white;
  width: 360px; 
  height: 250px;
  border: 0px;
}

#footer {
  background-color: #9E9E9E;
  color: #F5F5F5;
  text-align: center; 
  padding-bottom: 1em;
  height: 2em;
}

#footer p {
  margin: 0;
  padding: 0.2em;
}

#footer a{
  color: #F5F5F5;
  text-decoration: none;
}

#footer a:hover{
  color: black;
  text-decoration: none;
}

#wrapper1 {
  width: 850px;
  height: 700px;
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
}

#map {
  width: 800px;
  height: 650px;
  background-color: #ccc;
  margin: 25px auto;
}